<!DOCTYPE html>
<html>
    <head>
        <title>About us | Mindy</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/parts/about/styles/style.css"> 
        <link rel="stylesheet" type="text/css" href="/parts/about/styles/style.css">

    </head>
    <body>

        <%- include("navbar"); -%>
        
             <section class="showcase">

                <video src="/parts/about/scene.mp4" muted loop autoplay></video>

                <div class="overlay"></div>

                <div class="text">
                    <h2>ABOUT US</h2>
                    <p>Mindy is a non-profit movement empowering the awareness for mental health among the people . It is created to inform the person about his/her mental condition and automatically get a consultancy from a doctor. This is not a site for personal disclosure of suicidal thoughts or behaviours. If you are in crisis, please call 112/911 or go to your nearest emergency department for assistance.</p>
                </div>
            </section>
    </body>
</html>