<!DOCTYPE html>
<html>
<head>
    <title>Mindy | Providing Mental Health Solutions </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Anirudh Sharma">
    <link rel="icon" href="/parts/home/icon.jpg" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="Clock Styling.css">
    <link rel="stylesheet" type="text/css" href="/parts/vr/vr.css">
    <link rel="stylesheet" type="text/css" href="/parts/home/navbar.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" type="text/css" href="/parts/home/scrollbar.css">
    <link rel="stylesheet" type="text/css" href="/parts/about/styles/navbar.css">

</head>
<body>
    <%- include("navbar"); -%>     
    <div class="container">
        <div class="text">
            <div class="heading"><br />
            <p> <b> Augmented Reality </b> </p>
            </div>
            <hr class="w3-border-white" style="margin:auto;width:50%">
            <div class="description">
                <p>Augmented reality (AR) is an enhanced version of the real physical world that is achieved through the use of digital visual elements, sound, or other sensory stimuli delivered via technology. It is a growing trend among companies involved in mobile computing and business applications in particular.</p>
                <p> Here you can achieve your mental peace, whilst learning more about the issues and complexities of our minds.Try Some relaxing AR's. </p>
            <center>
                <div class="buttons">
                <button type="button" class="btn-1 btn-primary btn-lg" ><a href="/ar-1" target="blank">Mountains</a>
                </button>
                <button type="button" class="btn-2 btn-primary btn-lg"><a href="/ar-2" target="blank">Sunset</a></button>
            </center>
            </div>
            </div>
        </div>
    </div>
        <script src="Clock.js"></script>
</body>
</html>
 
