<nav class="navbar background h-nav-resp">
  <ul class="nav-list v-class-resp">
      <img src="/parts/home/logo.jpg" class="logo" alt="logo" style="width: 60px;">
 <li><a href="/">Home</a></li>
  <li><a href="/about">About</a></li>
  <li><a href="/contact">Contact</a></li>
  <li><a href="#">Consult A Doctor</a></li>
   </ul>
   <div class="rightNav v-class-resp">
      <a href="#">Donate</a>
      <a href="/login">Login</a>
      <a href="/signup">Sign Up</a>

   </div>
   </nav>
